Source: visualization.waveform
Priority: extra
Maintainer: Arne Morten Kvarving <spiff@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, xbmc.addon-dev,
               xbmc.visualization-dev, libgl1-mesa-dev, libglew-dev
Standards-Version: 3.9.2
Section: libs
Homepage: http://xbmc.org

Package: visualization.waveform
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Waveform visualization for XBMC
 Waveform visualization for XBMC
